<h1> Hello</h1>
<h2> This is the start of something good..</h2>

<p>maybe..<p>

<ul>
      <% ['apples', 'oranges', 'bananas'].each do |fruit| %>
        <li>I like to eat <%= fruit %></li>
      <% end %>
    </ul>

<ol>

<% ['Porgtugues', 'Spanish','French', 'Chinese','German'].each do |language| %>
     <li> I speak <%= language %></li>
   <% end %>
   </ol

